body {
}
.container{
width: 800px;
background-color: lightsalmon;
}
#header {
background-color: lightgoldenrodyellow;
color: #000;
text-align: left;
padding-top: 10px;
padding-bottom: 15px;
}
#topImageL {
width: 15%;
float: left;
margin-left: 20px;
}
#topImageR {
width: 15%;
float: right;
margin-right: 20px;
}
label {
font-size: 18px;
}
#show {
margin-right: 5px;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.form-group {
margin-left: 10px;
padding: 20px;
}
#tvInput {
margin-left: 10px;
}
#tvSearch {
margin: 0 auto;
text-align: center;
}
#gifArea {
clear: both;
display: inline;
flex-wrap: wrap;
}
.tvGiphy {
padding: 2px;
width: 80%;
border-radius: 10px;
box-shadow: 2px 2px #333333;
}
.col-md-4, .btn-group, .row, #show {
float: left;
display: inline-flex;
}
/* wip */
@media screen and (max-width: 600px) {
}